.login_input .am-list-item {
  margin: 0.625rem 0;
  border-radius: 1.25rem;
}
.login_input .demoTitle:before,
.login_input .demoTitle:after {
  border-bottom: none;
}
.login_input .button {
  border-radius: 1.25rem;
  background-color: green;
  margin: 1.25rem 1.25rem;
}
