.conter {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: nowrap;
  background-color: #fff;

  .supportH {
    height: 111px;
  }

  .RollConter {
    box-sizing: border-box;
    border-top: none;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    height: 0;
    flex: 1 1;
    margin-bottom: 0 !important;
  }

  .RollConter_nav{
    position: fixed;
    right: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 900;
  }
  .RollConter_right {
    overflow: scroll;
    flex: 1 1;
    position: relative;
  }

  .RollConter_left {
    width: 108px;
    overflow: scroll;
  }

  .conter_head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
    max-width: 768px;
    margin: 0 auto;
  }

  .conter_search {
    padding: 10px 16px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 10;
    max-width: 768px;
    position: sticky;
    top: 44px;
  }








  #Box2Input {
    width: 95%;
    height: 2.75rem;
    border: .5px solid #d9d9d9;
    border-radius: 22px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

    .am-icon-md {
      padding: 0 10px 0 17px;
    }


    .slip {
      margin-right: .9375rem;
      width: 17px;
      height: 17px;
    }

    #SearchInput {
      border: none;
      height: 1.25rem;
      font-size: .9375rem;
      color: #333;
      font-weight: 800;
      width: 80%;
      background-color: #fff;


    }

  }
}