.sub-title {
  color: #888;
  font-size: 14px;
  padding: 15px 0 9px 15px;
}
.not-square-grid .am-grid-icon {
  width: 40px;
  height: 60px;
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content{
  padding: 0;
}
.ico{
  width: 70px !important;
  height: 70px !important;
}
.spanTwo{
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: #666;
  margin-top: 4px;
}
.spanOne{
 
  font-size: 15px;
  font-weight: 600;
  line-height: 17px;
  color: #1a1a1a;
}