#BoxInput{
  width: 95%;
  height: 2.75rem;
  border: .5px solid #d9d9d9;
  border-radius: 22px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
#homeInput{
  border: none;
  height: 1.25rem;
  font-size: .9375rem;
    color: #333;
    font-weight: 800;
    width: 80%;
    background-color: #fff;
}
.am-icon{
  margin-left: 17px;
  margin-right: 7px;
}
.BoxSearch{
  padding: 10px 16px;
}