.CheckbBottle .earnings-list {
  background: #ffffff;
  height: 100%;
  touch-action: none;
}
.CheckbBottle .earnings-list .am-list {
  width: 100%;
  height: calc(100vh - 90px);
}
.CheckbBottle .earnings-list .earnings {
  padding: 0.2rem;
}
.CheckbBottle .earnings-list .earnings h1 {
  margin: 0;
}
.CheckbBottle .earnings-list .earnings .content {
  border-bottom: 1px solid #EEEEEE;
  padding: 0 0.4rem;
}
.CheckbBottle .earnings-list .earnings .content .box {
  font-size: 0.28rem;
  display: block;
}
.CheckbBottle .earnings-list .earnings .content .date {
  color: #333333;
  font-size: 1.125rem;
}
.CheckbBottle .earnings-list .earnings .content .money {
  color: #ccc;
  font-size: 1rem;
}
.CheckbBottle .earnings-list .am-list-header {
  background: #ffffff;
}
.CheckbBottle .earnings-list .am-list-body::after {
  background-color: #ffffff !important;
}
.CheckbBottle .earnings-list .am-list-body::before {
  background-color: #ffffff !important;
}
.CheckbBottle .earnings-list .am-list-footer {
  padding: 0;
}
.CheckbBottle .earnings-list .am-list-footer .Bigimg_ {
  padding: 0 !important;
  height: 5.875rem;
  overflow: hidden;
  position: relative;
}
.CheckbBottle .earnings-list .am-list-footer .Bigimg_ .bigimg {
  top: 50%;
  margin-top: -4.1625rem;
}
.CheckbBottle .earnings-list .earnings-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  line-height: 0.8rem;
  padding: 0 0.2rem;
}
.CheckbBottle .earnings-list .earnings-title span {
  color: #999999;
  font-size: 0.24rem;
}
